#search-bar {
    text-align: center;
}

#search {
    margin: 20px;
    padding: 5px;
    width: 300px;
}

button {
    border-radius: 15px;
    width: 100px;
    padding: 5px;
}

#profile {
    border: 1px solid black;
    width: 300px;
    height: auto;
}

#user-profile {
    border: 1px solid black;
    text-align: left;
    width: 300px;
}

#image {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    margin: 10px;
    height: 180px;
}

#fullname {
    border: 1px solid black;
    width: auto;
    height: 10%;
}

#username {
    border: 1px solid black;
    width: auto;
    height: 10%;
}

#email {
    border: 1px solid black;
    width: auto;
    height: 10%;
    
}

#location {
    border: 1px solid black;
    width: auto;
    height: 10%;
}

#number-of-gists {
    border: 1px solid black;
    width: auto;
    height: 10%;
}


#user-repos-container {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}

#user-repos {
    border: 1px solid black;
    width: 300px;
    height: auto;
} 





#github-profile {
    position: relative;
    border: 1px solid black;
    height: auto;
}

.scroll {
    overflow: scroll;
    height: 100%;
}