#search-bar {
    text-align: center;
}

#search {
    margin: 20px;
    padding: 5px;
    width: 300px;
}

button {
    border-radius: 15px;
    width: 100px;
    padding: 5px;
}

#profile {
    width: auto;    
}

#user-profile-title {
    margin-left: 20px;
}

#user-profile {
    text-align: left;
    width: 350px;
    margin-left: 20px;
    height: 610px;
}

#image {
    border: 1px solid black;
    width: 330px;
    padding: 10px;
    height: 330px;
}

#fullname {
    border: 1px solid black;
    padding: 10px;
    width: auto;
    height: 60%;
}

#username {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    height: 10%;
}

#email {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    height: 10%;
    
}

#location {
    border: 1px solid black;
    width: auto;
    padding: 10px;
    height: 10%;
}

#number-of-gists {
    border: 1px solid black;
    width: auto;
    height: 10%;
    padding: 10px;

}

#repo-title {
    position: absolute;
    top: 0px;
    right: 300px;
}

#user-repos-container {
    border: 1px solid black;
    position: absolute;
    top: 50px;
    right: 0px;
    overflow: auto;
    width: 550px;
    height: 540px;
    margin-left: 150px;
}

#user-repos {
    border: 1px solid black;
    width: auto;
    height: 20%;
} 

#github-profile {
    position: relative;
    height: auto;
    
}

.scroll {
    overflow: scroll;
    height: 100%;
}